<div class="tab-pane fade active show h-100" id="v-pills-products" role="tabpanel"
    aria-labelledby="v-pills-products-tab d-flex flex-row" tabindex="0">
    <div class="row h-100">
        {{!-- Add and Detail --}}
        <div class="col-5 border-end h-100">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="add-tab" data-bs-toggle="tab" data-bs-target="#add-tab-pane"
                        type="button" role="tab" aria-controls="add-tab-pane" aria-selected="true">ADD</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail-tab-pane"
                        type="button" role="tab" aria-controls="detail-tab-pane" aria-selected="false">Detail</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mt-3" id="add-tab-pane" role="tabpanel" aria-labelledby="add-tab"
                    tabindex="0">
                    {{!-- Add --}}
                    <form class="addForm" method="post">
                        <div class="mb-3 addItem">
                            <img src="image source" class="img-fluid rounded-top" alt="">
                        </div>
                        <div class="mb-3 addItem">
                            <label for="ProID" class="form-label">Product ID</label>
                            <input type="number" class="form-control" name="ProID">
                        </div>
                        <div class="mb-3 addItem">
                            <label for="ProName" class="form-label">Product name</label>
                            <input type="text" class="form-control" name="ProName">
                        </div>
                        <div class="mb-3 addItem">
                            <label for="TinyDes" class="form-label">Tiny
                                description</label>
                            <input type="text" class="form-control" name="TinyDes">
                        </div>
                        <div class="mb-3 addItem">
                            <label for="FullDes" class="form-label">Full
                                description</label>
                            <textarea class="form-control" name="FullDes"></textarea>
                        </div>
                        <div class="mb-3 addItem">
                            <label for="Quantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" name="Quantity" />
                        </div>
                        <div class="mb-3 addItem">
                            <label for="Price" class="form-label">Price</label>
                            <input type="number" class="form-control" name="Price" />
                        </div>
                        <label for="CatSelect" class="form-label">Category</label>
                        <select name="CatID" class="form-select mb-3 addItem" aria-label="Disabled select CatSelect ">
                            {{#each catData}}
                            <option value="{{this.CatID}}" {{#if @first}} selected {{/if}}>
                                {{this.CatName}}</option>
                            {{/each}}
                        </select>
                        <button type="button" onclick="addPro()" class="btn btn-primary">ADD</button>
                    </form>
                </div>
                <div class="tab-pane fade mt-3 productContent " id="detail-tab-pane" role="tabpanel" aria-labelledby="detail-tab"
                    tabindex="0">
                    {{!-- Detail --}}
                    <p class="mssDetail">Choose product!</p>
                    <form class="detailProForm d-none" method="post">
                        <div class="mb-3 detailItem">
                            <img src="image source" class="img-fluid rounded-top" alt="">
                        </div>
                        <div class="mb-3 detailItem">
                            <label for="ProID" class="form-label">Product ID</label>
                            <input type="number" class="form-control" readonly name="ProID">
                        </div>
                        <div class="mb-3 detailItem">
                            <label for="ProName" class="form-label">Product name</label>
                            <input type="text" class="form-control" name="ProName">
                        </div>
                        <div class="mb-3 detailItem">
                            <label for="TinyDes" class="form-label">Tiny
                                description</label>
                            <input type="text" class="form-control" name="TinyDes">
                        </div>
                        <div class="mb-3 detailItem">
                            <label for="FullDes" class="form-label">Full
                                description</label>
                            <textarea class="form-control" name="FullDes"></textarea>
                        </div>
                        <div class="mb-3 detailItem">
                            <label for="Quantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" name="Quantity" />
                        </div>
                        <div class="mb-3 detailItem">
                            <label for="Price" class="form-label">Price</label>
                            <input type="number" class="form-control" name="Price" />
                        </div>
                        <label for="CatSelect" class="form-label">Category</label>
                        <select name="CatID" class="form-select mb-3 detailItem"
                            aria-label="Disabled select CatSelect ">
                            {{#each catData}}
                            <option value="{{this.CatID}}" {{#if @first}} selected {{/if}}>
                                {{this.CatName}}</option>
                            {{/each}}
                        </select>
                        <button type="button" onclick="updatePro()" class="btn btn-primary">SAVE</button>
                        <button type="button" onclick="removePro()" class="btn btn-primary">REMOVE</button>
                    </form>
                </div>
            </div>
        </div>
        {{!-- Show products list --}}
        <div class="col-7 h-100">
            <div class="dropdown-center d-flex  justify-content-end ">
                <button class="btn w-50 btn-secondary dropdown-toggle catDropDown" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu w-50">
                    <li><a class="dropdown-item " href="#">All</a></li>
                    {{#each catData}}
                    <li><a class="dropdown-item" CatID="{{this.CatID}}" href="#">{{this.CatName}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="proList d-flex flex-row flex-wrap mb-3">
                {{#each proData.products}}
                <div class="card me-auto ms-auto mt-3 mb-3 proCard" ProID="{{this.ProID}}" style="width: 18rem;">
                    <img src="/images/pid/{{this.ProID}}/main_thumbs.jpg" class="card-img-top"
                        alt="/images/pid/{{this.ProID}}/main_thumbs.jpg">
                    <div class="card-body d-flex flex-column  align-content-between ">
                        <h5 class="card-title">{{this.ProName}}</h5>
                        <p class="card-text">{{this.TinyDes}}</p>
                        <p class="card-text">{{this.Price}}vnđ</p>
                    </div>
                </div>
                {{/each}}
            </div>
            <nav aria-label="Page navigation ">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item">
                        <a class="page-link pre" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item pagePerTotal me-5 ms-5">
                        {{proData.page}}/{{proData.totalPage}}
                    </li>
                    <li class="page-item">
                        <a class="page-link next" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    let data;
    let per_page = {{ proData.per_page }};
    let page = {{ proData.page }};
    let totalPage = {{ proData.totalPage }};
    let products


    const updatePro = () => {
        if (confirm("Save your product?") == true) {
            $('.detailProForm').attr('action', `http://localhost:3000/product/update`)
            $('.detailProForm').submit();
        }
    }

    const addPro = () => {
        if (confirm("Add new product?") == true) {
            $('.addForm').attr('action', `http://localhost:3000/product/add`)
            $('.addForm').submit();
        }
    }

    const removePro = () => {
        if (confirm("Remove product?") == true) {
            $('.detailProForm').attr('action', `http://localhost:3000/product/remove`)
            $('.detailProForm').submit();
        }
    }




    const detailProduct = async (id) => {
        $('.productContent .mssDetail').addClass('d-none');
        $('.detailProForm').removeClass('d-none');
        $('#detail-tab-pane').addClass('show active')
        $('#add-tab-pane').removeClass('show active');
        $('#add-tab').removeClass('active');
        $('#detail-tab').addClass('active');
        let data = await fetch(`http://localhost:3000/product/ProID=${id}`);
        data = (await data.json())[0];
        $('.detailProForm .detailItem img').attr('src', `/images/pid/${data.ProID}/main_thumbs.jpg`);
        $('.detailProForm .detailItem [name="ProID"]').val(data.ProID);
        $('.detailProForm .detailItem [name="ProName"]').val(data.ProName);
        $('.detailProForm .detailItem [name="TinyDes"]').val(data.TinyDes);
        $('.detailProForm .detailItem [name="FullDes"]').val(data.FullDes);
        $('.detailProForm .detailItem [name="Price"]').val(data.Price);
        $('.detailProForm .detailItem [name="Quantity"]').val(data.Quantity);
        $('.detailProForm .detailItem [selected]').removeAttr('selected');
        $(`.detailProForm .detailItem [value="${data.CatID}"]`).attr('selected', true);
    }

    const updateData = (data) => {
        per_page = parseInt(data.per_page);
        page = parseInt(data.page);
        totalPage = parseInt(data.totalPage);
        products = data.products;
    }

    $('.catDropDown').text("All");

    const generateProduct = () => {
        $('.proList').empty();
        for (let product of products) {
            const html = `<div class="card me-auto ms-auto  proCard mt-3 mb-3" ProID="${product.ProID}"  style="width: 18rem;">
                                            <img src="/images/pid/${product.ProID}/main_thumbs.jpg" class="card-img-top"
                                                alt="/images/pid/${product.ProID}/main_thumbs.jpg">
                                            <div class="card-body d-flex flex-column align-content-between ">
                                                <h5 class="card-title">${product.ProName}</h5>
                                                <p class="card-text">${product.TinyDes}</p>
                                                <p class="card-text">${product.Price}vnđ</p>
                                            </div>
                </div>`
            const listItem = $(html)
            listItem.on('click', async function (e) {
                await detailProduct($(this).attr('ProID'));
            })
            $('.proList').append(listItem);
        }

    }

    const updatePagination = () => {
        $('.pagePerTotal').text(`${page}/${totalPage}`);
    }

    $('.dropdown-item').on("click", async function () {
        $('.catDropDown').text($(this).text());
        if ($(this).attr('CatID') == undefined) {
            data = await fetch(`http://localhost:3000/product/per_page=${per_page}/page=1`);
        } else {
            data = await fetch(`http://localhost:3000/product/per_page=${per_page}/page=1/CatID=${$(this).attr('CatID')}`);
        }
        data = await data.json();
        updateData(data);
        updatePagination();
        generateProduct();
    })

    $('.pre').on('click', async function (e) {
        if (page > 1) {
            if ($(this).attr('CatID') == undefined) {
                data = await fetch(`http://localhost:3000/product/per_page=${per_page}/page=${page - 1}`);
            } else {
                data = await fetch(`http://localhost:3000/product/per_page=${per_page}/page=${page - 1}/CatID=${$(this).attr('CatID')}`);
            }
            data = await data.json();
            updateData(data);
            updatePagination();
            generateProduct()
        } else {
            e.preventDefault();
        }
    })

    $('.next').on('click', async function (e) {
        if (page < totalPage) {
            if ($(this).attr('CatID') == undefined) {
                data = await fetch(`http://localhost:3000/product/per_page=${per_page}/page=${page + 1}`);
            } else {
                data = await fetch(`http://localhost:3000/product/per_page=${per_page}/page=${page + 1}/CatID=${$(this).attr('CatID')}`);
            }
            data = await data.json();
            updateData(data);
            updatePagination();
            generateProduct();
        } else {
            e.preventDefault();
        }
    })

    $('.proCard').on('click', async function (e) {
        await detailProduct($(this).attr('ProID'));
    })

</script>